# Entorno virtual (único, dentro del proyecto)
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/

# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
